<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right search">
      <li class="navbar-right">
        <form action="/search">
          <input type="text" id="name" name="name">
          <input type="submit" value="Buscar">
        </form>
      </li>
    </ul>
  </div>
</nav>
