<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>404: Página no encontrada</h1>
    <p>Prueba volver al inicio</p>
    <a type="button" class="btn btn-lg btn-default" href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a>
  </div>
</div>

</body>
</html>
